{% extends 'base.html' %}
{% block titulo%} <h1 class="text-center mt-3"></h1> {% endblock %}
{% block contenido %}

 <div class=" text-center bg-light col-4 mx-auto  text-dark p-3 rounded">
        <h2> Descargables  📥 </h2>
        </div>

        <div class="container col-4 mx-auto p-4  mb-4 rounded" style="background-color: #72b9e2ff;">
<ul>
        <li><a href="static/img/descargables/manual-ejercicio-casa-melina-cruzado.pdf" download style="background-color: #ffffffff;" >📄 Guía de ejercicios simples explicados</a></li>
        <li><a href="static/img/descargables/Guia-de-entrenamiento-en-casa..pdf" download style="background-color: #ffffffff;"  >📝 guia de ejercicios ></a></li>
        </ul>
</div>


{% endblock %}