
{% extends "base.html" %}
{% block titulo %}
<h1 class=" text-center" style="color: #e4e4e4ff;"> Bienvenido a Sabores y Saberes </h1>

{% endblock %}

{% block contenido %}
<div class="container my-4">


    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="text-center mb-4">¡Explora el maravilloso mundo de la nutrición!</h2>

        <div class="row align-items-center">

            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='img/frutas.webp') }}"
                     class="img-fluid rounded p-3"
                     alt="comida">
            </div>

            <div class="col-md-6 text-center">

                {% if session.get('nombre') %}
                    <h3 class="mb-4">¡Bienvenido, {{ session['nombre'] }}! 🥗</h3>
                    <a href="/perfil" class="btn btn-success btn-lg px-5 py-2 rounded-4 shadow">
                        Ir a tu perfil
                    </a>
                {% else %}
                    <h4 class="mb-3">¿Listo para comenzar?</h4>
                    <a href="/iniciar_sesion" class="btn btn-primary btn-lg px-5 py-2 rounded-4 shadow">
                        Iniciar Sesión
                    </a>
                    <br><br>
                    <a href="/registro" class="btn btn-outline-secondary px-4 py-2 rounded-4">
                        Crear cuenta nueva
                    </a>
                    
                {% endif %}
                  
                 


            </div>

        </div>
    </div>

</div>
{% endblock %}
